@import 'mixins.styl'

.flex-container
  display flex

.sidebar
  padding-left 5%

.contact
  font-family 'Karla', sans-serif
  background-color #e5eef0
  color #93a1a7
  h5
    padding 12px 0
  .flex-container
    justify-content space-between

.fa-mobile,fa-envelope
  font-size 25px

.phone a,.mail a
  color #93a1a7
  font-size 14px
  font-family 'Karla', sans-serif
.phone
  border-right: 1px solid #d8e3e6
  line-height 55px
  padding 35px 20px
  i
    position relative
    top 4px
.mail
  padding 0 20px
.menu-section
  padding 25px 0

.green-btn
  background-color #29c2e1
  border-radius 25px
  padding 15px 35px
  min-width 145px

.yellow-btn
  background-color #f69b37
  border-radius 25px
  padding 15px 35px

.navbar
  background-color #fff
  border-color #fff
  margin-bottom 0px
  padding 15px 0
  .flex-container
    justify-content space-between

.item-preview
  width 53px
  height 51px
  border 2px solid #fff
  border-radius 50%
  position absolute
  top -65px
  left -22px
  background-size cover !important
  display none
.bg1
  background url(../img/slider-img1.jpg) center center
.bg2
  background url(../img/slider-img2.jpg) center center
.bg3
  background url(../img/slider-img1.jpg) center center
.small-triangle
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  position absolute
  bottom -10px
  left 42%

.carousel-indicators
  li
    position relative
    &:hover
      &:not(.active)
        .item-preview
          display block

.carousel-caption
  top 38%
  font-family 'Raleway', sans-serif
  h2
    font-size 48px
  p
    font-size 14px

.make-startup,.clients-about,.features,.pricing,.team,.what-we-are
  padding-top 100px
  h2
    font-family 'Raleway', sans-serif
    font-weight 700
    margin-top 0px
  .sub-title
    font-family 'Karla', sans-serif
    font-size 18px
    color #23282f
    padding-bottom 35px
  p
    font-family 'Open Sans', sans-serif
    font-size 14px
    color #55595f
  img
    padding-top 40px

ul
  list-style-type none

.icon
  display inline-block
  background url('../img/index-sprite.png') no-repeat
  overflow hidden
  text-indent -9999px
  text-align left
  margin auto 0

.icon2
  display inline-block
  background url('../img/about-us-sprite.png') no-repeat
  overflow hidden
  text-indent -9999px
  text-align left
  margin auto 0


.client-management-icon
  background-position -20px -0px; width 45px; height 39px
.well-analyzing-team-icon
  background-position -20px -59px; width 41px; height 33px
.keeping-business-data-icon
  background-position -20px -112px; width 38px; height 34px
.boost-your-business-icon
  background-position -20px -166px; width 37px; height 32px
.data-entry-icon
  background-position -20px -218px; width 36px; height 32px
.better-communication-icon
  background-position -20px -270px; width 34px; height 37px
.filtering-business-data-icon
  background-position -20px -327px; width 31px; height 38px
.hour-support-icon
  background-position -20px -385px; width 29px; height 40px
.business-solutions-icon
  background-position -20px -445px; width 27px; height 44px
.team-members-icon
  background-position -20px -0px; width 42px; height 30px
.certification-icon
  background-position -20px -50px; width 40px; height 40px
.finished-projects-icons
  background-position -20px -110px; width 40px; height 41px
.years-in-marketing-icon
  background-position -20px -171px; width 40px; height 40px

.services
  li
    position relative
    padding-left 90px
    margin-bottom 55px
    .icon-block
      width 67px
      height 67px
      position absolute
      top 0
      left 0
      background-color #e5eef0
      justify-content center
      &:hover
        background-color #f7941d
    h3
      font-size 20px
      color #23282f
      font-family 'Raleway', sans-serif
      font-weight 500
      margin 0
    p
      color #55595f
      font-family 'Open Sans', sans-serif
      font-size 14px
      font-weight 400

.right-block-services
  .green-btn
    margin-left 130px

.clients-about
  background-color #e5eef0
  padding-bottom 100px
  p
    font-family 'Lora', serif
    font-style italic
    color #55595f
    font-size 15px
  .fa-quote-left
    font-size 60px
    font-weight 400
    position absolute
    top 0
    left 0
  .author-block
    padding-top 30px
    line-height 20px
    font-family 'Karla', sans-serif
    padding-left 100px
    p
      font-style normal
    .author-name
      color #f5a24c
      font-size 14px
      font-style normal

.no-padding-left
  padding-left 0px

.no-padding-right
  padding-right 0px

.border
  border-bottom 1px solid #e5eef0

.triangle
  width 0
  height 0
  border-style solid

.triangle-green
  border-width 0 53px 79px 53px
  border-color transparent transparent #29c2e1 transparent
  position absolute
  left -130px
  bottom -109px

.triangle-yellow
  border-width 0 68px 109px 68px
  border-color transparent transparent #f69a37 transparent
  position relative

.pricing
  padding-bottom 95px
.pricing-item
  border 1px solid #e6edee
  margin 0 5px
  position relative
  display flex
  flex-wrap wrap
  justify-content center
  flex-direction column
  p
    font-family 'Raleway', sans-serif
    font-size 18px
    font-weight 500
    line-height 24px
    border-top 1px solid #e6edee
    border-bottom 1px solid #e6edee
    margin-bottom 0
    padding 25px
    flex-basis 100%
  h4
    font-size 20px
    padding-top 35px
  ul
    padding 40px 0 0 0
    flex-basis 200px
    margin-bottom 32px
    li
      color #55595f
      font-family 'Open Sans', sans-serif
      font-size 15px
      font-weight 400
      line-height 36px
  .green-btn
    align-self center
    margin-bottom 35px
  &:hover
    border 1px solid #e6edee
    box-shadow 0 0 100px rgba(228, 233, 237, 0.75)

.price-value
  color #f7941d

.no-padding
  padding 0

.recommend
  position absolute
  top 0
  left 0
  background url("../img/recommend.png")
  width 93px
  height 94px

.team
  background-color #e5eef0
  padding-bottom 95px
  ul
    padding-left 0
  img
    padding-top 0px
    width 100%
  .col-md-3>div
    margin 0 10px 0 0

.team-description
  padding 30px 0 35px 30px
  background-color #fff
  h5
    font-family 'Karla', sans-serif
    font-size 14px
    font-weight 400
    color #23282f
  p
    color #f69b37
  i
    color #adbdc1
    font-size 14px

.free-service
  padding-top 80px
  .title-service
    font-family 'Raleway', sans-serif
    color #23282f
    font-size 30px
    font-weight 500
   span
     color #f69b37
  .free-service-descript
    color #59686c
    font-size 13px
    font-weight 400
  .green-btn
    margin-right 25px
  .all-buttons
    padding 38px 0 100px

footer
  position relative
  i
    color #adbdc1
    font-size 14px
   a
    color #93a1a7
    font-family 'Karla', sans-serif
    font-size 14px
    font-weight 400
   h4
    color #23282f
    font-family 'Raleway', sans-serif
    font-size 18px
    font-weight 500
    line-height 24px
  .border
    padding 70px 0
  .sign-up-form
    input[type=submit]
      padding 9px 12px
      margin 0px 0 0 -8px
      border-radius 0px
      color #fff
      background-color #29c2e1
      border-color transparent
      height 39px
    .form-control
      font-size 12px
      padding 10px 92px 10px 15px
      height initial
      border-radius 0px
      border 1px solid #dde8ea
      box-shadow none


.copyright
  font-family 'Karla', sans-serif
  color #93a1a7
  font-size 14px
  font-weight 400
  line-height 35px
  padding-top 15px
  margin 0
  padding-bottom 35px

.big-yellow-triangle
  width 0
  height 0
  border-style solid
  border-width 150px 0 0 253px
  border-color transparent transparent transparent #f69a37
  position absolute
  bottom 0
  left 0

.footer-nav
  position relative
  ul
    padding-left 0px
    li
      color #93a1a7
      font-family 'Karla', sans-serif
      line-height 35px
    span
      color #3e4146
      font-family 'Karla', sans-serif

.big-green-triangle
  width 0
  height 0
  border-style solid
  border-width 0 0 175px 301px
  border-color transparent transparent #29c2e1 transparent
  position absolute
  right 0
  bottom 0

.img-pag
  img
    padding 0px 15px

 .clients-descrip
    position relative
    p
      padding-left 100px



#quote-carousel2
  .carousel-inner
    padding-bottom 30px
  .carousel-indicators
    margin-bottom 0
    bottom 0
    li
      background #b3cacf
      border 0 !important
      width 12px
      height 12px
      margin 0
    .active
      background #29c2e1

#quote-carousel2
  margin-top 75px
  margin-left 41px
  padding-left 13px
  border-left 1px solid #d7e3e6

.what-we-are
  .border
    padding-bottom 70px
  .col-md-6
    div
      padding 0 40px 0 0

.about-us
  background-image url("../img/about-us.png")
  background-size cover
  color #fff
  font-family 'Raleway', sans-serif
  padding-top 125px
  padding-bottom 125px
  h2
    font-size 48px
    font-weight 700
  p
    font-size 14px
    font-weight 400

.statistics
  font-family 'Karla', sans-serif
  padding 68px 0
  h3
    color #23282f
    font-weight 400
    line-height 45px
    font-size 60px
  p
    font-size 14px

.features
  .border-about
    padding-bottom 100px
    border-bottom 1px solid #e5eef0

.icon-2-block
  margin-top -23px

.blog
  padding-top 100px
  padding-bottom 50px
  border-bottom 1px solid #e5eef0
  p
    color #55595f
    font-family 'Open Sans', sans-serif
    font-size 14px
    font-weight 400
    line-height 24px
    padding 35px 0

  h3
    padding-top 40px
  .detail
    p
      padding 0
    h5
      font-family 'Karla', sans-serif
      font-size 15px
      font-weight 400
      line-height 24px
      color #23282f
      span
        color #f7941d
   .blog-heading
     li
      color #23282f
      font-family 'Karla', sans-serif
      font-size 14px
      font-weight 400
      line-height 36px
      &:before
        content: '\2714'
        color #f7941d
        padding 15px
  .author-description
     background-color #e3eef0
     padding 36px 0 36px 42px


.comments
  border-top 1px solid #e5eef0
  margin-top 85px
  .flex-container
    justify-content space-between
    span
     a
       color #f7941d
  .comment-item
    padding 40px 0
    border-bottom 1px solid #e5eef0
    p
      padding 0

.comment-form-block
  h3
    padding-top 60px
    padding-bottom 20px
  .green-btn
    margin-top 15px

.form-comment
  .form-control
    font-size 13px
    padding 10px 92px 10px 15px
    height initial
    border-radius 0px
    border 1px solid #dde8ea
    box-shadow none
    background-color #e3eef0

textarea.form-control
  background-color #e3eef0
  border-radius 0
  resize none
  font-size 13px
  border 1px solid #dde8ea
  box-shadow none


aside
  .form-control
    position relative
    border-radius 0
    height 43px
    width 75%

  .fa-search
    position absolute
    right 120px
    top 15px
  .cat-title
    font-size 20px
    color #23282f
    font-family 'Raleway', sans-serif
    font-weight 500
    padding 25px 0
  .cat
    padding-left 0
    li
      position relative
      list-style-type none
      &:hover
        .fa-angle-right
          color #f7941d
    a
      color #55595f
      font-family 'Karla', sans-serif
      font-size 14px
      font-weight 400
      line-height 36px
      &:hover
        color #f7941d
        text-decoration none
    .fa-angle-right
      position absolute
      top 8px
      left 70%
  .popular-posts
    padding-left 0
    li
      padding 15px 0
    h4
      font-family 'Karla', sans-serif
      font-weight 400
      color #23282f
      font-size 15px
    p
      color #f7941d
      font-size 14px
      padding 0
      span
        color #55595f
        font-size 14px
  .tag-item
    background-color #29c2e1
    font-family 'Karla', sans-serif
    font-size 13px
    font-weight 400
    padding 15px 0
    margin-right 10px
    margin-bottom 10px
    a
      color white
      text-decoration none


.blog
  article
    padding 60px 0
    border-bottom 1px solid #e5eef0
    &:first-child
      padding-top 0
    &:nth-last-child(2)
      border-bottom 0

audio
  width 100%

.pagination>li>a, .pagination>li>span
  background-color #29c2e1
  color #fff
  margin 0 3px
  border none
  padding 11px 17px
  border-top-left-radius 0 !important
  border-bottom-left-radius 0 !important
  border-top-right-radius 0 !important
  border-bottom-right-radius 0 !important
  margin-bottom 5px

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
  background-color #f7941d
  border-color #f7941d

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover
  color #fff
  background-color #f7941d

@media (min-width: 768px) {
  .container {
    width 750px
  }
}
@media (min-width: 992px) {
  .container {
    width 970px
  }
}
@media (min-width: 1200px) {
  .container {
    width 1170px
  }
}


@media (max-width: 991px) {

  .navbar-header {
    flex-basis 100%
  }

  .nav>li, .navbar-default .navbar-nav .open .dropdown-menu>li>a {

    font-size 11px
  }


  .blog .author-description {
    padding 36px
    text-align center
  }

  .comments .comment-item {
    text-align center
  }

  .comments .flex-container {

    flex-wrap wrap
  }

  .comments .comment-item p {

    margin-top 10px
    flex-basis 100%
  }

  .comments .comment-item span {
    flex-basis 100%
  }

  .form-comment .no-padding-right {

    padding-right 15px
  }

  .form-comment .no-padding-left {

    padding-left 15px
  }

  .form-comment textarea.form-control {
    padding 10px
  }

  form.form-comment, .make-startup {
    text-align center
  }

  .comment-form-block .green-btn {

    margin-bottom 15px
  }

  aside .form-control {

    width 100%
  }

  aside .fa-search {

    right 30px
  }

.big-green-triangle {

  display none
}

footer .sign-up-form .form-control {
  padding 10px
}

.sign-up-form.form-inline > .form-group {
  width 70%
  float left
}

.contact, .carousel-caption.text-uppercase, .clients-about {
  display none
}

.right-block-services .green-btn {

  margin 10px 0
}

.make-startup img, .clients-about img, .features img, .pricing img, .team img, .what-we-are img{

  padding-bottom 40px
}

section ul {

  padding 0
}

.pricing-item {

  margin-bottom 20px
}

  .free-service .green-btn {
    margin-right 0
    margin-bottom 20px
  }


.what-we-are .col-md-6 div {

  padding 0
}

}

